p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover {
    color: #1e2128;
}

body {
    margin: 0;
    color: #1e2128;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    /*background-image: url('image/background.jpg');*/
    background-color: white;
    line-height: 1.4;
}

body > div {
    height: 500px;
    margin: 0 auto;
}

div.small {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
}

/* Header */
div#header {
    height: 600px;
}

div#header div.small {
    border-radius: 0 0 5px 5px;
    background-image: url('image/header-photo.jpg');
    width: 1200px;
    height: inherit;
}

div#header div.small span {
    position: relative;
    font-size: 25px;
    top: 30px;
    left: 40px;
}
/* General info */
div#general {
    height: 300px;
}


div#general div.small {
    background: url(image/slide-shadow.png) 50% 0 no-repeat;
    height: inherit;
    box-sizing: border-box;
    padding: 70px 30px 0 0;
}

img#violin {
    width:180px;
    height: 180px;
    float:left;
}

/* Services */
div#service {
    height: 540px;
}

div#service div.small {
    height: inherit;
}

div.service-item {
    float:left;
    width: 500px;
    height: 250px;
    padding: 65px;
    box-sizing: border-box;
}

div.service-item img {
    float: left;
}

.item-head {
    font-size: 1.3rem;
    padding-top:8px;
    margin-left: 80px;
    height: 60px;
}

.item-body {
    margin: 15px 0 0 30px;
}

/* Example */
div#example h2{
    font-size: 2rem;
    padding: 25px;
}

#video {
    text-align:center;

}
#video iframe {
    margin-left: auto;
    margin-right: auto;
}

/* Contacts */
div#contacts {
    height: 550px;
}

div#contacts div.small {
    border-radius: 5px 5px 0 0;
    background-image: url('image/footer-photo.jpg');
    width: 1200px;
    height: inherit;
}

div#contacts-block {
    width: 300px;
    height: 250px;
    margin-left: 850px;
    padding-top: 170px;
}

#contacts-block label {
    color: white;
    padding-bottom: 3px;
    display: block;

}
.form-block {
    margin-top: 14px;
}

#contacts-block input{
    height: 30px;
    width: 220px;
    border: none;
    display: block;
    padding: 3px 0 3px 10px ;

}

#contacts-block textarea{
    height: 50px;
    width: 260px;
    border: none;
    display: block;
    padding: 10px;

}

#contacts-block input[type="submit"] {
    font-size: 1.3em;
    background-color: #fa5b3c;
    width: 247px;
    color: white;
    height: 40px;
}

/* experience */
div#experience {
    height: 350px;
}

div#experience small {
    height: inherit;
}

div#experience li {
    padding: 10px 0 20px 10px;
    font-size: 1.1rem;
}

div#awards {
    width: 450px;
    float: left;
    list-style: disc;
}

div#music {
    width: 500px;
    margin-left: 500px;
}

/* Example */
div#example {
    height: 460px;
}

div#example small {
    height: inherit;
}

/* Price */
div#price {
    height: 180px;
}

div#price div.small {
    height: inherit;
    box-sizing: border-box;
}

div#price h3{
    font-size: 1.5rem;
}

div#completed {
    height: 100px;
}

div#completed .small{
    font-size: 1.3rem;
    padding-top: 35px;
    text-align: center;
    height: inherit;
    background-color: greenyellow;
    box-sizing: border-box;
}

div#error {
    height: 100px;
}

div#error .small{
    font-size: 1.3rem;
    padding-top: 35px;
    text-align: center;
    height: inherit;
    background-color: tomato;
    box-sizing: border-box;
}
